body {
  background: #000000;
  font-family: "Roboto", sans-serif;
  background-image: url(./math\ BG.jpg);
}

h1 {
  font-size: 28px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

input {
  text-align: center;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.fieldset {
  background: white;
  width: 30%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

.select {
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.165);
}

.corpo-calculadora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.botão {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.botão:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.botão:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
